[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
streamlit = "*"
PyPDF2 = "*"
python-docx = "*"
openai = "0.28"
python-dotenv = "*"
pandas = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.10"
